

.food-list, .search-food {
    display: flex;
    margin-left: 400px;
    margin-bottom: 10px;
    
}

.food-content, .btn-add-food, .food-action, .response-item {

    border: 1px solid rgb(220, 216, 216);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    align-self: start;
    justify-self: start;
}
.food-content, .response-item {
    justify-self: flex-start;
    min-width: 700px;
    background: white;
}

.btn-add-food, .food-action {

    width: 70px;

}

.food-action {
    background: white;
}

.btn-add-food {
    background: #cdf0ea;
    border-radius: 10px;

}

.btn-add-food:hover {
    background: #f3c583;
}

.food-action, .response-item {
    background: #cdf0ea;
}



