

.food-list, .search-food {
    display: flex;
    margin-left: 400px;
    margin-bottom: 10px;
    
}

.food-content, .btn-add-food, .food-action, .response-item {

    border: 1px solid rgb(220, 216, 216);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    align-self: start;
    justify-self: start;
}
.food-content, .response-item {
    justify-self: flex-start;
    /* margin-left: 20px; */
    min-width: 700px;
}

.btn-add-food, .food-action {
    display: flex;
    justify-self: flex-end;
    width: 70px;
    align-items: center;
}


