.food-search-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.food-search-input, .log-date-input {
 
    border: 1px solid black;
    border-radius: 12px;
}
/* food search button */
.food-search-btn {
    margin-left: 10px;
    /* border: 1px solid gray; */
    border-radius: 12px;
    width: 80px;
    margin-right: 150px;
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: monospace;
    border: 2px solid #cdf3a2;
    overflow: hidden;
    transition: 1s all ease;
    background-color: #a03c78;

}
.food-search-btn:hover {
    background-color: #01937c;
    border: 2px solid #ffe459;
}

.food-search-input {
    margin-right: 10px;
}

.log-date-input {
    margin-right: 100px;
    margin-left: 10px;
}

.filter-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter-button {
    justify-self: flex-end;
    margin-left: 100px;
}

.log-date {
    font-family: 'Aladin', cursive;
    font-size: 25px;
    color: #a03c78
}





