*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Aladin', cursive;
}

.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

}

.form-weight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    width: 28rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #79ceff;
    /* background-image: linear-gradient(315deg, #79ceff 0%, #dcb5ff 67%, #ffb8f0 100%); */
    height: 550px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    /* transform: rotate(-10deg) skewY(-10deg); */

    
} 


.form-title {
    margin-bottom: 2.7rem;
    position: relative;
    font-size: x-large;
    font-family: 'Sancreek', cursive;
    border-bottom: 2px solid white;
    background-image: url('https://images.pexels.com/photos/3826328/pexels-photo-3826328.jpeg?auto=compress&cs=tinysrgb&w=1200');
    color: transparent;
    -webkit-background-clip: text;
    animation: profile 10s infinite linear;
    border-image: linear-gradient(to right,#FFAA4C,#5089C6) round;
    border-image-slice: 1;
    width: fit-content;
}

@keyframes profile {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
    
}


.form-group {
    position: relative;
    height: 3rem;
    margin-bottom: 1.2rem;
}


.form-input {
    width: 100%;
    height: 75%;
    /* border: 2px solid #cfd8dc; */
    border-radius: 0.5rem;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none;
    padding: 0.4rem 1rem 0 1.2rem;
    background: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #cfd8dc;;
    
}

.form-input:hover {
    border-color:  #31f3d9;
    /* border-image: linear-gradient(to right,#ff0062,#00ffff);
    border-image-slice: 1; */
}


.form-input:focus, .input-height-ft:focus, .input-height-in:focus, .input-gender:focus, .input-weight:focus {
    border-image: linear-gradient(to right,#ff0062,#00ffff) round;
    border-image-slice: 1;
}

.form-label {
    position: absolute;
    left: 1rem;
    top: 0.9rem;
    padding: 0 0.5rem ;
    background-color: #79ceff;
    /* background-image: linear-gradient(315deg, #79ceff 0%, #dcb5ff 67%, #ffb8f0 100%); */
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in; 
    background: rgba(255, 255, 255, 0.1);

}

.form-input:focus + .form-label, .form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
    position: absolute;
    top: -35%;
    left: 0.8rem;
    font-size: 1rem;
    color: #0cbda6;
}


#gender-select {
    background: none;
    border: 2px solid #cfd8dc;
    border-radius: 0.5rem;
    padding: 5px;
    /* margin: 10px; */
}


.form-select {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 10px;
}

.form-height, .form-weight-gender {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    
}

.input-height-ft, .input-height-in, .input-gender, .input-weight {
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    background: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #cfd8dc;;
    
}

.label-height-ft, .label-gender, .label-weight {
    margin-right: 10px;
}

.btn-submit {
    position: relative;
    outline: none;
    border: none;
    color: #FFBF86;
    padding: 10px 20px;
    overflow: hidden;
    transition: 0.6s;
    font-size: 16px;
    background: rgb(237, 234, 234);
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.span-animate {
    position: absolute;
    display: block;
}

.span-animate:nth-child(1), .span-submit1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 3;
    background: linear-gradient(90deg, transparent, #B5FFD9);
    animation: line1 1s linear infinite;
}

.span-animate:nth-child(2), .span-submit2 {
    top: -100px;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #0F2C67);
    animation: line2 1s linear infinite;
    animation-delay: 0.26s;
}

.span-animate:nth-child(3), .span-submit3 {
    right: -100px;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #CD1818);
    animation: line3 1s linear infinite;
    animation-delay: 0.5s;
}

.span-animate:nth-child(4), .span-submit4 {
    bottom: 100px;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #116530);
    animation: line4 1s linear infinite;
    animation-delay: 0.76s;
}

@keyframes line1 {
    0% { left: -100%;}
    60%, 100% { left: 100%;}
}

@keyframes line2 {
    0% { top: -100%;}
    60%, 100% { top: 100%;}
}

@keyframes line3 {
    0% { right: -100%;}
    60%, 100% { right: 100%;}
}

@keyframes line4 {
    0% { bottom: -100%;}
    60%, 100% { bottom: 100%;}
}
.btn-submit:hover {
    background-color: #B5FFD9;
    color: #d9a82b;
    box-shadow: 0 0 5px #B5FFD9, 0 0 20px #B5FFD9, 0 0 40px #B5FFD9, 0 0 60px #B5FFD9;
    border-radius: 3px;
}


/* for validation */

.errors, .errors1, .errors2 {
    color: #ff0062;
    font-size: 14px;
}

.errors1 {
    margin-left: 60px;
}

.weight-input-container {
    display: flex;
    flex-direction: column;

}

.label-weight {
    justify-self: flex-start;
    align-self: flex-start;
}





