
.profile-content, .profile-infor {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-content {
    font-size: 20px;
}

.profile-infor {
    color:#BCFFB9;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(196, 190, 190);
    padding: 3px;
    margin-bottom: 10px;
    width: 950px;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 20px;
    border-radius: 5px;
    
    
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-content-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #F08FC0;
    font-family: 'Aladin', cursive;
    
}

.report-type {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    height: 30px;
    margin-right: 30px;
}