
.profile-content, .profile-infor {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
}

.profile-infor {
    color:rgb(5, 5, 194);
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(196, 190, 190);
    padding: 3px;
    margin-bottom: 10px;
    width: 950px;
    
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-content-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.report-type {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    height: 30px;
    margin-right: 30px;
}