.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Neon button */
/* clr-neon: hsl(317 100% 54%) */
.neon-button {
  font-size: 4rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: hsl(317 100% 54%);
  border: .125em solid hsl(317 100% 54%);
  padding: .25em 1em;
  border-radius: 0.25em;
  text-shadow: 
  0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em hsl(317 100% 54%);
  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);
  position: relative;
  /* transition: background-color 100ms linear; */
}

.neon-button::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: hsl(317 100% 54%);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;

}

.neon-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: 0 0 2em 0.5 hsl(317 100% 54%);
  opacity: 0;
  background-color: hsl(317 100% 54%);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover, .neon-button:focus {
  color: black;
  text-shadow: none;
}

.neon-button:hover::before, .neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after
.neon-button:focus::after {
  opacity: 1;
}


/* animantion outline*/