/* .food-container {
    position: relative;
    background: rgb(176,141,30);
    background: linear-gradient(90deg, rgba(176,141,30,0.76087759322479) 0%, rgba(106,204,219,1) 67%, rgba(162,208,218,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: fit-content;
    min-height: 1vh;
    margin: 0px;
    

} */