

.Signin {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
}


.box {
    position: relative;
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}


.formLogin {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.formLogin h2 {
    position: absolute;
    top: -90px;
    color: #fff;
    font-size: 24;
    font-weight: 600;
    letter-spacing: 1px;
    
}

.formLogin h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: sigin 10s linear infinite;
}
@keyframes sigin {
    0%, 100%{
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("https://images.pexels.com/photos/628776/pexels-photo-628776.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-repeat: no-repeat;
    background-size: cover;
    animation-delay: 0s;
}

.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("https://images.pexels.com/photos/3763426/pexels-photo-3763426.jpeg?auto=compress&cs=tinysrgb&w=1200");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    animation-delay: 1s;
}

.box .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("https://images.pexels.com/photos/1860204/pexels-photo-1860204.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    animation-delay: 2s;
}

.box .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
}

.box .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
    
}

.box .square:nth-child(6) {
    top: -140px;
    left: -500px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("../images/istockphoto-1086092570-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: picture 10s linear infinite;
}

@keyframes picture {
    0%, 100%{
        transform: translateX(-40px);
    }
    50% {
        transform: translateX(40px);
    }
}


.box .square:nth-child(7) {
    bottom: -100px;
    left: -300px;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("../images/istockphoto-610256864-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: picture1 10s linear infinite;
}

@keyframes picture1 {
    0%, 100%{
        transform: translateX(60px);
    }
    50% {
        transform: translateX(-60px);
    }
}

.box .square:nth-child(8) {
    top: -150px;
    right: -500px;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("../images/istockphoto-1334636844-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: picture2 10s linear infinite;
}

@keyframes picture2 {
    0%, 100%{
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(10px);
    }
}

.box .square:nth-child(9) {
    bottom: -150px;
    right: -400px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("https://images.pexels.com/photos/3620705/pexels-photo-3620705.jpeg?auto=compress&cs=tinysrgb&w=1200");
    background-repeat: no-repeat;
    background-size: cover;
    animation: picture3 10s linear infinite;
}

@keyframes picture3 {
    0%, 100%{
        transform: translateX(80px);
    }
    50% {
        transform: translateX(-20px);
    }
}

.box .square:nth-child(10) {
    bottom: 110px;
    right: -350px;
    width: 40px;
    height: 40px;
    animation-delay: 3s;
}

.box .square:nth-child(11) {
    top: 100px;
    left: -400px;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
    
}

.box .square:nth-child(12) {
    bottom: -100px;
    left: -520px;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
    
}


.google-btn {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: .09em solid rgb(235, 177, 68);
    padding: .25em 1em;
    border-radius: 2em;
    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em rgb(235, 177, 68);
    box-shadow: inset 0 0 0.5em 0 rgb(235, 177, 68), 0 0 0.5em 0 rgb(235, 177, 68);
    position: relative;
    width: fit-content;
    position: absolute;
    top: 100px;
}

.google-btn::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: rgb(235, 177, 68);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(50deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.8;
}

.google-btn::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5 rgb(214, 153, 41);
    opacity: 0;
    z-index: -1;
    transition: opacity 100ms linear;
}

.google-btn:hover, .google-btn:focus {
    background: rgb(214, 153, 41);
    color: black;
    text-shadow: none;
    box-shadow: 0 0 15px rgb(214, 153, 41), 0 0 30px rgb(214, 153, 41), 0 0 60px rgb(214, 153, 41), 0 0 90px rgb(214, 153, 41);
    
}

.google-btn:hover::before, .google-btn:focus::before {
opacity: 1;
}

.google-btn:hover::after
.google-btn:focus::after {
opacity: 1;
}

.signin-page {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url("https://media.istockphoto.com/photos/italian-pasta-ingredients-on-white-wooden-table-top-view-picture-id845461896?k=20&m=845461896&s=612x612&w=0&h=BehqbKOW__ZpwKrPDBA-4jNUbnLyViPHWdWGOB-6084=");
    background-repeat: no-repeat;
    background-size: cover;

}



.pic-container {
    position: absolute;
    top: 70px;
    left: 270px;
    width: 250px;
    height: fit-content;
    font-size: 20px;
    box-shadow: -30 50px 35px rgba(0, 0, 0, 0.1);
    font-family: 'Bubbler One', sans-serif;
    color: rgb(247, 243, 243);
    z-index: 190;
}

.pic-container .pic1{
    transform: rotate(-5deg) skewY(-20deg);
}

.pic-container .pic2{
    margin-top: 40px;
    transform: rotate(-15deg) skewX(-25deg);
}

.pic-container .pic3{
    margin-top: 30px;
    transform: rotate(-15deg) skewX(25deg);
}


.pic-container1 {
    position: absolute;
    top: 400px;
    left: 100px;
    width: 250px;
    height: fit-content;
    font-size: 20px;
    color: #fff;
    z-index: 270;
}


.pic-container2 {
    position: absolute;
    right: 100px;
    bottom: 350px;
    font-size: 20px;
    color: #fff;
    z-index: 240;
    
}

.pic-container2 .pic7, .pic-container2 .pic8,  .pic-container2 .pic6, .pic-container1 .pic4, .pic-container1 .pic5, .pic-container .pic1, .pic-container .pic2, .pic-container .pic3, .formdes  {
    font-family: 'Shadows Into Light', cursive;
}

.pic-container2 .pic7, .pic-container2 .pic8 {
    margin-top: 20px;
    margin-left: 30px;
}

.formdes {
    text-align: center;
    color: #fff;
    z-index: 100px;
}

